<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro ullam
      deleniti incidunt, obcaecati esse!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        recusandae aliquid quod facilis quos repudiandae cumque modi, ducimus
        dolore distinctio.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="Image/webp"
        srcset="/Images/easy.webp 1x, /Images/easy@2x.webp 2x"
      />
      <source
        type="Image/jpg"
        srcset="/Images/easy.jpg 1x, /Images/easy@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="/images/easy@2x.jpg"
        alt="Chart showing simple bars"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        recusandae aliquid quod facilis quos repudiandae cumque modi, ducimus
        dolore distinctio.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="Image/webp"
        srcset="/Images/easy.webp 1x, /Images/easy@2x.webp 2x"
      />
      <source
        type="Image/jpg"
        srcset="/Images/easy.jpg 1x, /Images/easy@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="/images/easy@2x.jpg"
        alt="Chart showing simple bars"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        recusandae aliquid quod facilis quos repudiandae cumque modi, ducimus
        dolore distinctio.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="Image/webp"
        srcset="/Images/easy.webp 1x, /Images/easy@2x.webp 2x"
      />
      <source
        type="Image/jpg"
        srcset="/Images/easy.jpg 1x, /Images/easy@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="/images/easy@2x.jpg"
        alt="Chart showing simple bars"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        recusandae aliquid quod facilis quos repudiandae cumque modi, ducimus
        dolore distinctio.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="Image/webp"
        srcset="/Images/easy.webp 1x, /Images/easy@2x.webp 2x"
      />
      <source
        type="Image/jpg"
        srcset="/Images/easy.jpg 1x, /Images/easy@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="/images/easy@2x.jpg"
        alt="Chart showing simple bars"
      />
    </picture>
  </article>
</section>
